<aside class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div id="search-2" class="widget widget_search">
        <form role="search" method="get" id="searchform" action="http://localhost:8888/ecm-child-themes/">
            <input placeholder="Search..." type="text" value="" name="s" id="s" class="form-control input-lg"/>
        </form>
    </div>
    <div id="text-11" class="widget widget_text">
        <h4 class="widget-title">Resources</h4>
        <div class="textwidget">
            <ul class="ul1">
                <li><a href="https://github.com/">GitHub</a></li>
                <li><a href="https://pages.github.com/">GitHub Pages</a></li>
                <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
                <li><a href="http://fontawesome.io/">Font Awesome</a></li>
                <li><a href="http://yeoman.io/">Yeoman</a></li>
                <li><a href="http://jekyllrb.com/">Jekyll</a></li>
                <li><a href="https://github.com/jbrad/tuts-github-pages">Tuts GitHub Pages Project</a></li>
                <li><a href="http://jbrad.github.io/tuts-github-pages/">Tuts GitHub Pages Site</a></li>
                <li><a href="https://help.github.com/articles/github-flavored-markdown">GitHub Flavored Markdown</a></li>
            </ul>
        </div>
    </div>
</aside><!-- /.blog-sidebar -->
