<h1></h1>
<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    
      <li>
        <span class="post-meta">Jan 15, 2015</span>

        <h2>
          <a class="post-link" href="//jekyll/update/2015/01/15/welcome-to-jekyll/">Welcome to Jekyll!</a>
        </h2>
      </li>
    
  </ul>

  <p class="rss-subscribe">subscribe <a href="//feed.xml">via RSS</a></p>

</div>

